// Testimonial 
.slide-item{
	margin-top: 60px;
	margin-bottom: 0px;
	.inner-box{
		position: relative;
		padding-top: 20px;
		padding-bottom: 25px;
		padding-left: 32px;
		background: #fff;
		padding-right: 5px;
		box-shadow: 0 0 20px rgba(0,0,0,0.2);
		h3{
			font-size: 20px;
		    line-height: 28px;
		    font-weight: 400;
		    margin-top: 50px;
		    a{
		    	color: #2f323c;
		    	&:hover{
		    		color: $preset;
		    	}
		    }
		}
		span{
			font-size: 14px;
		    color: #848484;
		    margin-bottom: 30px;
		    font-weight: 400;
		}
		p{
			margin-top: 10px;
		}
	}
	.image-thum{
		position: absolute;
	    display: inline-block;
	    top: -30px;
	    box-shadow: 0px -3px 15px rgba(0,0,0,0.2);
    	border-radius: 50%;
	    img{
	    	display: inline-block;
	    }
	}
}